.title
{
    position: absolute;
    height: 0px;
    width: 100%;
}

.title h1
{
    color: black;
    font-size: 750%;
    text-align: center;
    margin-top: 5%;
}

.posts section h2
{
    font-size: 250%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.posts section h2 sup
{
    font-size: 50%;
    color: grey;
    float: right;
    margin-top: 1%;
}

.posts section p
{
    font-size: 250%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.posts h3
{
    color: black;
    font-size: 250%;
    text-align: center;
}