<!DOCTYPE html>
<html>
<head>
    <title> PPT_PAGE_TITLE </title>
    <link href= PPT_STYLE_SHEET rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="res/Logo.png">
            </div>
            <ul class="main-nav">
                <li class= PPT_HOME_ACTIVE ><a href="home.html"> HOME </a></li>
                <li class= PPT_DOCS_ACTIVE ><a href="docs.html"> DOCUMENTATION </a></li>
                <li class= PPT_ABOUT_ACTIVE ><a href="about.html"> ABOUT </a></li>
                <li class= PPT_NEWS_ACTIVE ><a href="news.html"> NEWS </a></li>
                <li class= PPT_FAQ_ACTIVE ><a href="faq.html"> FAQ </a></li>
            </ul>
        </div>
            
         PPT_PAGE_CONTENT 

    </header>
</body>
</html>